<h1>{{ title }}</h1>
<div style="float: left; ">
  <form action="">
    <p style="font-size: 20px;">Міняю</p>        
    <select #c1 class="form-fromCurrency" name="fromCurrencySelect" (change)="changeFromCurrencySelect(c1.value)">            
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="PLN">PLN</option>                  
    </select>              
    <br />
    <br />
    <input type="text" name="inputbox" (input)="fromCurrencyInput($event)" placeholder="from" value="{{convert_from}}">  
    <p style="color: darkblue; font-weight: bold;">{{ currency1 }}</p>
  </form>
</div>
<div>
  <form action="">
    <p style="font-size: 20px;">Отримую</p>    
    <select #c2 class="form-fromCurrency" name="toCurrencySelect" (change)="changeToCurrencySelect(c2.value)">    
      <option value="EUR">EUR</option>
      <option value="USD">USD</option>
      <option value="PLN">PLN</option>                
    </select>    
    <br />
    <br />
    <input type="text" (input)="toCurrencyInput($event)" placeholder="to" value="{{convert_to}}">  
    <p style="color: darkblue; font-weight: bold;">{{ currency2 }}</p>
  </form>
</div>
<div>
  <p style="margin: 40px; color: blueviolet;  font-weight: bold; font-size: 20px;">RESULT</p>
  <p style="margin: 20px; color: darkblue; font-weight: bold; font-size: 25px;">{{ result | currency : '' : '' : '2.2-2'}}</p>
</div>

<p style="font-weight: bold; font-size: 20px; color: brown;">{{ convert_from }}</p>
<p style="font-weight: bold; font-size: 20px; color: brown;">{{ convert_to }}</p>
