<h1>{{ title | uppercase }}</h1>

<div>
<div style="float: left; ">    
<form  action="">  
  <input type="text" [defaultValue]="'USD'">  
  <br/> 
  <br/>
  <input type="text" name="inputbox" onblur="convert(this.form)"  (input)="fromCurrencyInput($event)">    
  <p>1 USD = 37.3 UAH</p>     
  <!-- <br/>   -->
  <p>{{ currency1 }}</p>
</form>
</div>

<div>
<form action="">
  <input type="text" [defaultValue]="'UAH'">     
  <br/>
  <br/>
  <input type="text" (input)="toCurrencyInput($event)"> 
  <p>1 UAH = 0.0268 USD</p>  
  <!-- <br/>      -->
  <p>{{ currency2 }}</p>
</form>
</div>

<div>
<p style="margin: 40px;">RESULT</p>
<p style="margin: 20px;">{{ result }}</p>
</div>

</div>
