/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  padding-top: 10px;    
} 

h1 {
    color: rgb(27, 17, 179);
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 400px;        
 } 
