/* You can add global styles to this file, and also import other style files */
body{
    margin-top: 20px;
    margin-left: 50px;   
}
select {    
    width: 150px;
    height: 35px;
    font-size: 18px;  
    border: 2px solid #ccc;
    padding: 5px 35px 5px 5px;         
}
input{   
    width: 150px;
    height: 35px;
    font-size: 18px;   
    font-weight: bold;           
}
